/*==========PRINCIPAL============*/
*{
  margin: 0;
  padding: 0;
}

/* =========== Hover =========== */
a{
  text-decoration: none;
}


/* =========== Body =========== */

body{
  background: #a6cae4;
}


/* =========== Área do cabeçalho =========== */

.area_cabecalho{
  background-color: #55AAE7;
  padding: 1%;
}

/* ========================================== */

/* =========== Botões do cabeçalho =========== */

.area_login{
  padding: 0.5em;
  float: right;
  text-align: right;
}

.botao_login{
  display: inline-flex;
  margin: 0.5em 0.2em 0.5em 0.5em;
  padding: 0.2em 0.5em;
  justify-content: center;
  border-radius: 60px;
  background: #55AAE7;
  border: 1px solid white;
}


.botao_cadastro{
  display: inline-flex;
  margin: 0.5em 0.5em 0.5em 0em;
  padding: 0.2em 0.5em;
  justify-content: center;
  border-radius: 60px;
  background: #55AAE7;
  border: 1px solid white;
}

/* ========================================== */

/* =========== Logo e nome =========== */

.area_logo{
  display: inline-block;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 60px;
  justify-content: center;
}

.two_colors {
  font-size: 36px;
  background: linear-gradient(to right,#041C9B 53%,white 47%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* ========================================== */

/* =========== Background da primeira parte =========== */

.background_img {
  background-image: url('../assets/atleta.jpg');
  width: 100%;
  height: 36em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 4% 5%; 
}

/* ========================================== */

/* =========== Texto do bloco da primeira parte =========== */

.texto_bloco_arredondado{
  color: #0522b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.48px;
}

/* ========================================== */

/* =========== Bloco da primeira parte =========== */

.bloco_arredondado{
  display: block;
  width: 40%; 
  margin-bottom: 3%; 
  padding: 0.5em;
  text-align: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.432);
  border: 2px solid rgb(40, 80, 160);
}

.card {
  transition: transform 0.3s;
}

.card.zoomed {
  transform: scale(1.1);
}

/* ========================================== */

/* =========== Título da segunda parte =========== */

.titulo{

  display: flex;
  height: 118px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
 
}
.titulo_cadastro{
  display: flex;
  height: 118px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0522b2;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
 
}
/* ========================================== */
/* CARROSSEL */

.carrossel{
  background:  white;
  width: 60%;
  margin-left: 20%;
  border-radius: 30px;
  border:solid black 1px;
  padding: 2%;
}
.texto_carrossel{
  text-align: center;
  color: black;
  font-size: 24px;
}

.carousel-control-prev .carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-right" viewBox="0 0 16 16"><path d="M5.293 8l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L5.293 8z"/></svg>');
}

.carousel-control-next .carousel-control-next-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-left" viewBox="0 0 16 16" transform="rotate(180)"><path d="M5.293 8l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L5.293 8z"/></svg>');
}

/* ========================================== */

 /* =========== Login =========== */
 a {
  text-decoration: none;
}

.nome_branco {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.72px;
}

.nome_azul {
  color: #041C9B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.72px;
}

.logo {
  background-color: #55AAE7;
  padding: 1%;
  text-align: center;
}

.bloco_principal {
  width: 50%;
  border: solid black 1px;
  margin: 8% 25%;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
}

.ipt_nome,
.ipt_senha {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn_entrar,
.btn_voltar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; /* Espaçamento entre os botões */
  margin-top: 10px;
}


/* =========== Rodape =========== */

.area_rodape{
  margin-top: 8%;
  background-color: #55AAE7;
  padding: 1%;
  width: 100%;
  text-align: center;
}

/* =========== Escrita dos direitos no rodape =========== */

.direitos{
  display: inline-block;
  width: 750px;
  height: 20px;
  flex-shrink: 0;
  color: #041C9B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.text-center{
  color:white;
}

.review {
  background: white;
  transition: all 0.3s linear;
  text-align: center;
}

.review:hover {
  box-shadow: #041C9B;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
  
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background:#041C9B;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  border-radius: 50%;
}

#author {
  margin-bottom: 0.25rem;
}

#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color:black;
  font-size: 0.85rem;
}

#info {
  margin-bottom: 0.75rem;
}

.prev-btn,
.next-btn {
  color:#041C9B;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color:#322653;
}

.random-btn {
  margin-top: 0.5rem;
  background: white;
  color:#041C9B ;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  border-color:#041C9B;
  cursor: pointer;
}

.random-btn:hover {
  background-color: transparent; 
  color:#041C9B;
}

.tamanho_avaliacao{
  width: 80%;
}


/* =========== Mensagem =========== */

.msg{
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error{
  color:#842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.msg.success{
  color:#0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

#profile-image-container{
  width: 150px;
  height: 150px;
  border: 6px solid #000;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin:15px auto;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: inline;
}
a{
  text-decoration: none;
}

.nome_branco{
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.72px;
}
.nome_azul{
  color: #041C9B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.72px;
  margin-left:2%;
}
.logo{
  background-color: #55AAE7;
  padding: 1%;
  text-align: left;
  justify-content: center;
}
.menu_principal{
  display: flex;
  margin:1%;
}

.sidebar {
  background-color: #55AAE7;
  color: white;
  font-weight: bold;
  justify-content: left;
  border: solid 1px #55AAE7
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;

}

.content {
  width: 80%;
  text-align: center;
  justify-content: center;
  height: 400px;
}
.form-group{
  margin:0.5% 0%;
}
.content-item { 
  justify-content: center;
  display: none;
  margin: 0% 1%;
  padding: 1% 0% 1% 30%;
  background: #fff;
  border:solid 1px #55AAE7;
}
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      text-align: center;
  }

  .sidebar-item {
      display: inline-block;
      margin: 5px;
  }
}

.button {
  margin:1% 0% 1% -50%;
  background-color: #041C9B; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.button:hover {
  background-color: #55AAE7; 
}

.sidebar-item:hover{
  background-color: #fff;
  color: #041C9B;
  font-weight: bold;
}

.consultas{
  margin: 1% 0% 1% -50%;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

.actions {
  display: flex;
  align-items: center;
}
.ver{
  background-color: #0f5132;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.ver:hover {
  background-color: #fff;
  color:#000;
}

.edit {
  background-color: #041C9B;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit:hover {
  background-color: #fff;
  color:#000;
}



.delete {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: #fff;
  color:#000;
}

.btn_entrarpacienete{
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; /* Espaçamento entre os botões */
  margin-top: 10px;
}

.btn_entrarmedico {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; /* Espaçamento entre os botões */
  margin-top: 10px;
}

.btn_entrarpacienete.active {
  background-color: #0000ff; /* Red color for active state */
}

.btn_entrarmedico.active {
  background-color: #0000ff; /* Blue color for active state */
}



